/* Font Style Livvic */
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.sharetech {
	font-family: "Share Tech", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  

.livvics {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    text-shadow: 2px 4px 6px #000000;
}

.livvic {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
}

.early .thumbnai {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}	

.early .thumbnai.tampil {
	opacity: 1;
	transform: translate(0,0);
}

.card .thumbnail {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}	

.card .thumbnail.muncul {
	opacity: 1;
	transform: translate(0,0);
}

.form .thumbnaill {
	opacity: 0;
	transition: .3s;
}	

.form .thumbnaill.muncull {
	opacity: 1;
}

.konten .thumbnailll {
	opacity: 0;
	transform: translate(0,-40px);
	transition: .3s;
}	

.konten .thumbnailll.muncul {
	opacity: 1;
	transform: translate(0,0);
}

@media (max-width: 768px) {
    .fixeed {
        position: fixed;
    }
    th, .tab {
        display: none;
    }
    tr {
        display: grid;
    }
}

#hamburger {
    background-image: url('../images/open.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

#hamburger.hamburger-active {
    background-image: url('../images/close.svg');
}
